*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.container {
    background-color: white;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: auto;
    border:  solid black;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    display: table;
    

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    font-size: 20px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}
li{
    list-style: none;
}
.hide{
display: none;

}
.btn {
    background-color: teal;
    color: white;
    padding: 5px;
    margin: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: medium;
}

.btn:hover {
    border-color: black;
}

.button2 {
    background-color: turquoise;
    color: black;
    padding: 5px;
    margin: 10px;
    width: 15px;
}

/* end style*/

.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}
input {
    margin-bottom: 1rem;
    width: 20rem;
       padding: 1.5rem;
font-size: 1.8rem;
border: none;
box-shadow: 0 0.1rem 1.4rem 0;
}

input::placeholder{
    color: lightslategrey;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: black;
    text-align: center;
}

#saveScoreBtn {
    border: none ;
}
 @media only screen and  (max-width: 900px) {
    .container {
        
        width: 90%;
       
 }}

